.git
/vendor
/var
/public/bundles
/public/build
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/*.php
/config/jwt/*
/tests
/phpunit.xml.dist
/.php-cs-fixer.dist.php
/docker-compose.yaml
/docker-compose.override.yaml
/Dockerfile
/render.yaml
/README.md
